// Mixins
@mixin flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    @mixin transition($property, $duration, $timing-function) {
      transition: $property $duration $timing-function;
    }
    
    @mixin media-breakpoint($breakpoint) {
      @media (max-width: $breakpoint) {
        @content;
      }
    }